# env
.env

# coding agents
.cline
.claude
CLAUDE.md

#
.vscode/

# pytest
.pytest_cache
__pycache__/

# reproducible
data/
logs/

# weights
src/models/lstm/weights/
src/models/**/weights/

# temporary
tmp/